---
# Provide front matter so Jekyll processes this file as SASS.
---

// Put your custom CSS here if you want to override the defaults.
// Here are some common customizations for colors

// Customize the background color
body {
  // background-color: #f2f2f2;;
  // background: linear-gradient(to bottom right, antiquewhite, burlywood);
  // background: linear-gradient(to bottom right, #D6E1D4, #91A492);
  background: linear-gradient(to bottom right, #D6E1D4, #A5B39C);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

// Customize the menubar color
.ui.menu {
  // background: $background-start;
  // background: antiquewhite;
  background: #D6E1D4;
}

// Customize the home page icon colors
.icon-color {
  // color: silver;
  // color: darken(antiquewhite, 20%);
  color: darken(#D6E1D4, 20%);
}

